---
import ImageMod from "@/components/ImageMod.astro";
import FlipWords from "@/components/FlipWords.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, description, buttons, images } = (
  (await getEntry(
    "homeBannerSection",
    "home-banner"
  )) as CollectionEntry<"homeBannerSection">
).data;

const flipWords = ["Scientifically", "Strategically", "Psychologically", "Statistically"];
---

{
  (
    <section class="pb-20 pt-40 pl-2 relative overflow-x-clip">
      <div class="container relative z-10">
        <div class="row">
          <div class="col-12 lg:col-6">
            <div class="mb-16 lg:mb-0">
              <div 
                class="mb-5 text-lg lg:text-xl font-medium tracking-tight"
                data-aos="fade-up-sm"
              >
                <span>A System That Thinks with You </span>
                <FlipWords 
                  words={flipWords} 
                  duration={2000}
                  className="text-tertiary font-semibold"
                />
              </div>
              {title && (
                <h1
                  set:html={markdownify(title)}
                  data-aos="fade-up-sm"
                  class="mb-6 text-h4 lg:text-h2 leading-[1.2] font-semibold"
                />
              )}
              {description && (
                <p
                  set:html={markdownify(description)}
                  data-aos="fade-up-sm"
                  class="mb-8 text-[15px] lg:text-base leading-relaxed text-text/90"
                />
              )}
              {buttons && (
                <ul class="flex flex-wrap gap-3">
                  {buttons.map(({ label, link }, index) => (
                    <li data-aos="fade-up-sm" data-aos-delay={100 + index * 50}>
                      <a
                        class="btn btn-outline-primary text-sm px-4 py-2 font-medium [&_.icon-wrapper]:h-9 [&_.icon-wrapper]:w-9 [&_.icon]:h-9 [&_.icon]:min-w-9 [&_svg]:h-4 [&_svg]:w-4"
                        href={link}
                        target={link.startsWith("http") ? "_blank" : "_self"}
                        rel="noopener">
                        {label}
                        <span class="sr-only">Details</span>
                        <span class="icon-wrapper">
                          <span class="icon">
                            <DynamicIcon icon={"FaArrowRight"} />
                          </span>
                          <span class="icon" aria-hidden="true">
                            <DynamicIcon icon={"FaArrowRight"} />
                          </span>
                        </span>
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:block absolute top-0 right-0 w-[48%] h-screen -mr-12" data-aos="fade-left">
        <ImageMod 
          src="/images/banner-hero.png" 
          alt="Platform Dashboard" 
          class="w-full h-full object-cover"
        />
      </div>
    </section>
  )
}
