---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, subtitle, description, tools } = (
  (await getEntry(
    "mentorToolsSection",
    "mentor-tools"
  )) as CollectionEntry<"mentorToolsSection">
).data;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        {
          subtitle && (
            <p
              class="mb-2 font-medium text-tertiary"
              set:html={markdownify(subtitle)}
            />
          )
        }
        {title && <h2 class="mb-6" set:html={markdownify(title)} />}
        {
          description && (
            <p class="text-lg/[inherit]" set:html={markdownify(description)} />
          )
        }
      </div>
      <div class="col-12 pt-12">
        <div class="row g-4 justify-center">
          {
            tools?.map((tool, index) => (
              <div
                class="md:col-6 lg:col-4"
                data-aos="fade-up-sm"
                data-aos-delay={200 + index * 50}>
                <div class="min-h-full rounded-xl bg-light px-6 py-8 text-center md:rounded-3xl">
                  {tool.title && (
                    <h3 class="h5 mb-3" set:html={markdownify(tool.title)} />
                  )}
                  {tool.description && (
                    <p set:html={markdownify(tool.description)} />
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

