---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const data = (
  (await getEntry(
    "problemStatementSection",
    "problem-statement"
  )) as CollectionEntry<"problemStatementSection">
).data;

const { title, subtitle, description, list } = data;
const tagline = (data as any).tagline || "";
const ctaText = (data as any).ctaText || "";
const ctaHref = (data as any).ctaHref || "";

const cards =
  list?.map((item, index) => ({
    name: item.title || "",
    description: item.description || "",
  })) || [];

// Color schemes for cards (matching the reference design with better contrast)
const cardColors = [
  { bg: "#f0f9f4", pattern: "#d1f2e0", text: "#1f2937", desc: "#4b5563" }, // Pale green
  { bg: "#f5f3ff", pattern: "#e9d5ff", text: "#1f2937", desc: "#4b5563" }, // Pale purple
  { bg: "#1C1C1E", pattern: "#2C2C2E", text: "#ffffff", desc: "#D1D1D1" }, // Dark grey/black
  { bg: "#ecfeff", pattern: "#cffafe", text: "#1f2937", desc: "#4b5563" }, // Light blue-green
  { bg: "#eff6ff", pattern: "#dbeafe", text: "#1f2937", desc: "#4b5563" }, // Pale blue
  { bg: "#fefce8", pattern: "#fef9c3", text: "#1f2937", desc: "#4b5563" }, // Pale yellow
];

// SVG icons for each card type - designed to represent each cognitive bias
const cardIcons = [
  // Illusion of Fluency - checkmark fading to represent false mastery
  `<svg fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200" viewBox="0 0 31.562 31.562" xml:space="preserve">
    <g>
      <g>
        <path d="M30.198,29.32l-0.201-3.584l-0.405,0.158c-1.205,0.471-2.396,0.701-3.641,0.701c-1.854,0-3.441-0.513-4.84-0.965
          c-1.197-0.387-2.217-0.712-3.084-0.605c-1.271,0.152-1.904,1.134-2.222,2.121c-0.315-0.987-0.948-1.969-2.22-2.121
          c-0.867-0.105-1.888,0.22-3.085,0.606c-1.399,0.451-2.985,0.962-4.839,0.964c-1.243,0-2.434-0.23-3.641-0.701l-0.405-0.158
          L1.414,29.32H0v1.41h31.562v-1.41H30.198z M2.065,29.003l0.133-2.37c1.144,0.399,2.28,0.596,3.464,0.596
          c1.955,0,3.661-0.553,5.032-0.994c1.124-0.363,2.068-0.674,2.816-0.582c1.677,0.203,1.936,2.509,1.974,3.352L2.065,29.003
          L2.065,29.003z M16.129,29.003c0.036-0.843,0.291-3.147,1.975-3.351c0.748-0.092,1.692,0.218,2.815,0.58
          c1.371,0.442,3.078,0.994,5.032,0.994c1.184,0,2.32-0.194,3.465-0.595l0.132,2.37L16.129,29.003L16.129,29.003z"/>
        <path d="M10.719,21.602l1.964-0.848l-4.894-5.186l-1.853,0.8l0.388,7.129l1.904-0.821l-0.104-0.998l1.955-0.844L10.719,21.602z
             M7.97,20.182L7.746,18.03l0.018-0.009l1.369,1.658L7.97,20.182z"/>
        <path d="M24.348,19.008c0.084-0.062,0.166-0.145,0.245-0.246c0.078-0.102,0.132-0.225,0.157-0.367
          c0.025-0.142,0.016-0.305-0.032-0.485c-0.049-0.183-0.153-0.384-0.315-0.604l-1.357-1.854l-3.384,2.482l1.407,1.92
          c0.108,0.146,0.238,0.274,0.387,0.387c0.148,0.109,0.307,0.188,0.473,0.236c0.165,0.047,0.338,0.059,0.516,0.032
          c0.179-0.026,0.353-0.102,0.522-0.227c0.123-0.093,0.22-0.188,0.291-0.289c0.07-0.104,0.119-0.207,0.147-0.31
          c0.027-0.104,0.039-0.209,0.031-0.311c-0.008-0.105-0.027-0.205-0.059-0.299c0.162,0.076,0.322,0.115,0.479,0.115
          C24.014,19.195,24.177,19.133,24.348,19.008z M22.3,19.168c-0.065,0.049-0.128,0.076-0.187,0.084
          c-0.057,0.008-0.11,0.002-0.162-0.018c-0.051-0.021-0.1-0.053-0.145-0.094c-0.047-0.043-0.09-0.091-0.129-0.146l-0.447-0.611
          l0.631-0.461l0.479,0.652C22.52,18.82,22.505,19.018,22.3,19.168z M23.436,18.16c-0.111,0.082-0.209,0.104-0.293,0.07
          c-0.084-0.037-0.168-0.109-0.248-0.222l-0.402-0.549l0.512-0.375l0.403,0.549c0.077,0.107,0.124,0.207,0.137,0.298
          C23.557,18.021,23.52,18.098,23.436,18.16z"/>
        <path d="M13.878,4.045c0.073,0.1,0.153,0.198,0.238,0.295c0.084,0.096,0.162,0.19,0.231,0.285l0.71-0.521
          c-0.062-0.064-0.119-0.134-0.17-0.203c-0.088-0.119-0.12-0.218-0.095-0.292c0.026-0.074,0.096-0.153,0.21-0.237l0.858-0.63
          l0.369,0.503l0.578-0.424l-0.369-0.503l0.748-0.549l-0.687-0.937L15.75,1.381l-0.306-0.417l-0.578,0.424l0.306,0.417l-1.175,0.862
          c-0.168,0.123-0.282,0.245-0.343,0.367s-0.088,0.241-0.08,0.358c0.008,0.115,0.041,0.228,0.102,0.337
          C13.736,3.838,13.803,3.943,13.878,4.045z"/>
        <path d="M16.006,7.41c-0.168,0.278-0.273,0.557-0.316,0.834c-0.045,0.277-0.031,0.547,0.035,0.805
          c0.07,0.259,0.193,0.5,0.375,0.725c0.18,0.226,0.41,0.423,0.693,0.593c0.264,0.16,0.535,0.269,0.812,0.326
          c0.279,0.058,0.552,0.06,0.812,0.004c0.263-0.054,0.51-0.165,0.742-0.331c0.231-0.167,0.438-0.396,0.612-0.688
          c0.158-0.262,0.254-0.521,0.291-0.778c0.035-0.257,0.023-0.499-0.035-0.724c-0.059-0.226-0.153-0.427-0.289-0.606
          c-0.135-0.179-0.293-0.324-0.475-0.434l-0.654,1.088c0.074,0.067,0.142,0.138,0.197,0.21c0.055,0.073,0.098,0.148,0.125,0.227
          c0.025,0.078,0.033,0.158,0.023,0.242c-0.008,0.083-0.041,0.172-0.098,0.266c-0.078,0.131-0.174,0.223-0.283,0.276
          c-0.109,0.053-0.227,0.077-0.352,0.071c-0.125-0.004-0.255-0.029-0.388-0.077c-0.131-0.047-0.256-0.107-0.377-0.18
          c-0.121-0.073-0.231-0.156-0.336-0.25c-0.104-0.095-0.188-0.196-0.25-0.305s-0.097-0.224-0.101-0.346
          c-0.004-0.121,0.031-0.248,0.111-0.379c0.068-0.114,0.146-0.193,0.232-0.239c0.088-0.046,0.172-0.074,0.256-0.083
          c0.084-0.01,0.16-0.004,0.229,0.015c0.068,0.018,0.123,0.034,0.16,0.047l0.65-1.077c-0.48-0.226-0.926-0.277-1.336-0.155
          C16.664,6.607,16.309,6.915,16.006,7.41z"/>
        <path d="M22.061,12.983l0.359-1.02c-0.029-0.011-0.059-0.027-0.092-0.051c-0.029-0.023-0.055-0.057-0.074-0.098
          c-0.018-0.043-0.027-0.093-0.027-0.15c0-0.059,0.017-0.13,0.045-0.215c0.031-0.089,0.08-0.164,0.148-0.226
          c0.066-0.061,0.148-0.075,0.244-0.041c0.092,0.032,0.145,0.086,0.152,0.159c0.01,0.074,0.008,0.15-0.004,0.23
          c-0.013,0.099-0.033,0.208-0.062,0.329c-0.028,0.121-0.053,0.246-0.074,0.373c-0.02,0.128-0.03,0.256-0.034,0.384
          c-0.002,0.127,0.014,0.248,0.051,0.363c0.035,0.114,0.096,0.216,0.178,0.306c0.084,0.089,0.199,0.16,0.352,0.214
          c0.153,0.054,0.291,0.072,0.42,0.058c0.127-0.016,0.244-0.056,0.349-0.123s0.194-0.155,0.271-0.267
          c0.076-0.109,0.139-0.234,0.188-0.375c0.063-0.178,0.1-0.355,0.106-0.533c0.01-0.177-0.033-0.349-0.125-0.514l0.004-0.012
          c0.041,0.018,0.086,0.032,0.14,0.043c0.053,0.01,0.102,0.015,0.147,0.015l0.396-1.12c-0.115,0.03-0.231,0.032-0.353,0.005
          c-0.119-0.027-0.231-0.061-0.34-0.099l-1.18-0.416c-0.137-0.048-0.273-0.088-0.414-0.123c-0.139-0.035-0.277-0.029-0.414,0.019
          c-0.139,0.047-0.271,0.151-0.4,0.313c-0.131,0.162-0.256,0.415-0.377,0.759c-0.059,0.17-0.108,0.345-0.146,0.524
          c-0.039,0.18-0.052,0.351-0.033,0.515s0.07,0.313,0.162,0.45C21.715,12.797,21.861,12.904,22.061,12.983z M23.406,11.444
          l0.268,0.094c0.148,0.062,0.244,0.148,0.287,0.262c0.045,0.112,0.043,0.231-0.002,0.357c-0.035,0.1-0.09,0.172-0.17,0.217
          c-0.076,0.045-0.148,0.057-0.217,0.033c-0.096-0.034-0.152-0.09-0.172-0.166c-0.019-0.078-0.021-0.183-0.008-0.314
          c0.008-0.081,0.014-0.162,0.02-0.242C23.42,11.603,23.416,11.523,23.406,11.444z"/>
        <path d="M7.629,5.253C7.787,5.38,7.966,5.479,8.166,5.549c0.199,0.07,0.402,0.105,0.607,0.107
          c0.204,0.002,0.398-0.037,0.582-0.115C9.538,5.462,9.708,5.339,9.859,5.17c0.153-0.168,0.277-0.387,0.372-0.657
          c0.096-0.27,0.136-0.518,0.122-0.745c-0.012-0.227-0.067-0.428-0.16-0.604C10.1,2.986,9.973,2.835,9.812,2.708
          S9.471,2.482,9.271,2.412c-0.2-0.07-0.401-0.106-0.604-0.107c-0.202-0.002-0.396,0.037-0.58,0.117
          C7.904,2.5,7.735,2.623,7.583,2.791C7.431,2.96,7.307,3.18,7.211,3.449C7.116,3.719,7.076,3.967,7.09,4.193
          c0.012,0.228,0.066,0.43,0.159,0.605C7.344,4.975,7.47,5.127,7.629,5.253z M8.009,3.73c0.037-0.104,0.09-0.179,0.158-0.225
          c0.068-0.047,0.142-0.074,0.222-0.083c0.08-0.01,0.164-0.004,0.25,0.016c0.087,0.021,0.168,0.044,0.246,0.071
          c0.077,0.027,0.156,0.06,0.235,0.098c0.081,0.039,0.15,0.087,0.208,0.146c0.059,0.058,0.1,0.126,0.124,0.206
          c0.025,0.078,0.019,0.17-0.018,0.273C9.397,4.336,9.345,4.41,9.276,4.457C9.208,4.503,9.133,4.531,9.051,4.539
          C8.969,4.548,8.886,4.543,8.798,4.522C8.712,4.502,8.63,4.478,8.553,4.451c-0.078-0.027-0.157-0.06-0.237-0.098
          C8.237,4.314,8.168,4.266,8.111,4.209c-0.057-0.058-0.096-0.126-0.12-0.205C7.967,3.925,7.973,3.834,8.009,3.73z"/>
        <path d="M15.354,17.882v2.757h0.737v-0.221H16.1c0.022,0.03,0.049,0.062,0.078,0.096c0.03,0.031,0.066,0.061,0.11,0.086
          s0.099,0.047,0.162,0.063s0.143,0.024,0.235,0.024c0.142,0,0.265-0.031,0.371-0.095c0.104-0.062,0.191-0.146,0.262-0.247
          c0.07-0.101,0.121-0.216,0.156-0.342c0.034-0.126,0.053-0.252,0.053-0.379c0-0.118-0.014-0.238-0.039-0.361
          c-0.025-0.125-0.07-0.236-0.135-0.337c-0.065-0.101-0.152-0.183-0.264-0.247c-0.111-0.063-0.25-0.097-0.417-0.097
          c-0.114,0-0.221,0.024-0.315,0.071c-0.096,0.048-0.172,0.113-0.231,0.199h-0.008v-0.972H15.354z M16.157,19.298
          c0.024-0.046,0.06-0.084,0.102-0.112c0.043-0.029,0.099-0.045,0.168-0.045s0.126,0.016,0.169,0.045
          c0.043,0.028,0.076,0.066,0.103,0.112c0.024,0.048,0.043,0.101,0.052,0.159s0.014,0.118,0.014,0.177
          c0,0.06-0.005,0.119-0.014,0.179s-0.025,0.111-0.052,0.16c-0.026,0.047-0.06,0.086-0.103,0.115s-0.1,0.044-0.169,0.044
          s-0.125-0.015-0.168-0.044c-0.042-0.029-0.075-0.068-0.102-0.115c-0.026-0.049-0.044-0.102-0.054-0.16
          c-0.008-0.06-0.014-0.119-0.014-0.179c0-0.059,0.006-0.118,0.014-0.177C16.113,19.396,16.131,19.346,16.157,19.298z"/>
        <polygon points="25.701,5.864 25.369,5.39 25.396,5.192 26.146,5.552 26.898,5.024 25.507,4.478 25.658,3.448 24.95,3.944 
          24.884,4.698 24.119,3.607 23.494,4.046 25.076,6.303"/>
        <path d="M5.468,12.135c0.148,0.139,0.322,0.247,0.522,0.323c0.199,0.076,0.414,0.114,0.645,0.114c0.203,0,0.396-0.028,0.578-0.085
          c0.182-0.057,0.342-0.14,0.48-0.25c0.14-0.109,0.255-0.244,0.347-0.405c0.092-0.16,0.151-0.345,0.179-0.553h-1.11
          c-0.012,0.122-0.059,0.227-0.141,0.313c-0.081,0.089-0.185,0.133-0.31,0.133c-0.112,0-0.202-0.021-0.269-0.064
          c-0.066-0.044-0.116-0.101-0.151-0.171c-0.035-0.07-0.059-0.15-0.07-0.241c-0.012-0.09-0.018-0.182-0.018-0.275
          c0-0.095,0.006-0.187,0.018-0.276c0.012-0.091,0.035-0.171,0.07-0.241c0.035-0.07,0.086-0.128,0.153-0.173
          c0.066-0.046,0.156-0.068,0.27-0.068c0.122,0,0.22,0.033,0.294,0.101c0.074,0.063,0.118,0.158,0.13,0.287h1.104
          c-0.019-0.212-0.073-0.396-0.162-0.55C7.939,9.899,7.826,9.771,7.687,9.67C7.548,9.567,7.389,9.492,7.208,9.443
          c-0.18-0.049-0.37-0.073-0.57-0.073c-0.23,0-0.446,0.038-0.646,0.114C5.792,9.56,5.617,9.67,5.469,9.81
          c-0.15,0.142-0.267,0.311-0.353,0.509c-0.086,0.198-0.129,0.416-0.129,0.656c0,0.242,0.043,0.462,0.129,0.657
          C5.202,11.828,5.319,11.996,5.468,12.135z"/>
        <path d="M10.266,13.101l0.538,1.097l3.672-1.802l-0.425-0.864c-0.154,0.066-0.3,0.093-0.436,0.079
          c-0.135-0.015-0.26-0.057-0.371-0.129c-0.111-0.071-0.211-0.164-0.3-0.278c-0.088-0.113-0.164-0.238-0.226-0.373l-0.76,0.373
          l0.422,0.859L10.266,13.101z"/>
        <path d="M26.816,23.281c0.238,0.006,0.469-0.008,0.688-0.041c0.219-0.035,0.422-0.102,0.607-0.205
          c0.188-0.104,0.345-0.27,0.471-0.5c0.104-0.189,0.16-0.373,0.167-0.555c0.009-0.183-0.024-0.354-0.104-0.519
          c-0.076-0.162-0.191-0.317-0.348-0.463c-0.154-0.146-0.34-0.276-0.556-0.396c-0.241-0.133-0.478-0.22-0.708-0.256
          c-0.232-0.039-0.45-0.027-0.658,0.028c-0.206,0.06-0.396,0.166-0.564,0.322c-0.172,0.155-0.318,0.36-0.44,0.616l0.967,0.533
          c0.114-0.225,0.249-0.381,0.404-0.473s0.336-0.08,0.542,0.033c0.119,0.066,0.205,0.154,0.254,0.264
          c0.05,0.111,0.027,0.248-0.062,0.412c-0.037,0.064-0.084,0.115-0.146,0.148s-0.128,0.057-0.201,0.069
          c-0.071,0.015-0.146,0.023-0.221,0.025c-0.076,0.004-0.144,0.006-0.203,0.01c-0.151,0.006-0.308,0.013-0.466,0.017
          s-0.314,0.014-0.469,0.028c-0.153,0.017-0.305,0.041-0.453,0.078c-0.146,0.035-0.284,0.084-0.418,0.146
          c-0.154,0.069-0.297,0.168-0.424,0.289c-0.127,0.123-0.233,0.272-0.32,0.455l3.104,1.709l0.481-0.875l-1.621-0.894l0.003-0.006
          C26.348,23.277,26.579,23.275,26.816,23.281z"/>
        <path d="M27.866,9.186c0.042-0.038,0.087-0.065,0.139-0.082c0.052-0.016,0.106-0.021,0.167-0.016
          c0.059,0.005,0.118,0.02,0.178,0.044c0.043,0.019,0.086,0.042,0.131,0.073c0.043,0.029,0.08,0.063,0.11,0.098
          c0.028,0.037,0.05,0.078,0.062,0.123c0.01,0.045,0.005,0.092-0.014,0.139c-0.025,0.059-0.058,0.101-0.1,0.126
          c-0.042,0.026-0.087,0.041-0.137,0.045c-0.049,0.003-0.101-0.002-0.15-0.017c-0.051-0.014-0.1-0.03-0.146-0.049
          C28.047,9.645,28,9.623,27.962,9.602c-0.037-0.02-0.071-0.038-0.103-0.055l-0.246,0.598c0.033,0.008,0.07,0.016,0.107,0.026
          c0.039,0.011,0.092,0.03,0.154,0.056c0.05,0.021,0.1,0.045,0.146,0.073c0.047,0.028,0.084,0.062,0.111,0.101
          c0.029,0.039,0.047,0.084,0.053,0.135c0.006,0.05-0.004,0.108-0.031,0.176c-0.053,0.126-0.125,0.2-0.219,0.221
          c-0.095,0.021-0.205,0.006-0.332-0.046c-0.074-0.031-0.14-0.071-0.194-0.116c-0.056-0.047-0.093-0.104-0.111-0.17
          c-0.053-0.113-0.043-0.252,0.03-0.414l-0.834-0.345c-0.02,0.038-0.042,0.094-0.071,0.166c-0.028,0.074-0.049,0.161-0.062,0.262
          c-0.012,0.099-0.008,0.205,0.007,0.32c0.019,0.114,0.06,0.23,0.13,0.348c0.068,0.118,0.174,0.233,0.311,0.347
          c0.14,0.114,0.322,0.218,0.551,0.312c0.25,0.104,0.471,0.154,0.662,0.156c0.191,0.003,0.357-0.023,0.496-0.08
          c0.137-0.057,0.25-0.131,0.334-0.227c0.086-0.096,0.147-0.189,0.187-0.283c0.047-0.114,0.073-0.215,0.082-0.303
          c0.006-0.088,0.002-0.166-0.013-0.23c-0.017-0.067-0.041-0.123-0.072-0.17c-0.032-0.045-0.062-0.084-0.094-0.115
          c-0.031-0.031-0.058-0.055-0.078-0.07c-0.023-0.017-0.032-0.027-0.03-0.033l0.004-0.009c0.001-0.003,0.022,0,0.07,0.009
          c0.046,0.009,0.102,0.003,0.169-0.018c0.066-0.021,0.139-0.066,0.217-0.135c0.077-0.068,0.15-0.184,0.217-0.345
          c0.026-0.064,0.039-0.15,0.036-0.257c-0.002-0.107-0.03-0.221-0.09-0.34c-0.06-0.121-0.151-0.24-0.279-0.359
          c-0.127-0.119-0.303-0.225-0.524-0.316c-0.172-0.07-0.344-0.116-0.514-0.137c-0.171-0.021-0.33-0.012-0.481,0.025
          c-0.153,0.039-0.291,0.111-0.413,0.215c-0.121,0.104-0.221,0.246-0.299,0.426l0.826,0.34C27.793,9.275,27.825,9.223,27.866,9.186z
          "/>
      </g>
    </g>
  </svg>`,
  // Recency Bias - timeline with recent emphasis
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <g id="Brain_analyst">
      <path d="M340.3882,119.7181c-.1406.002-.2812.0025-.4209.0025-7.5312,0-13.4961-2.3447-17.7353-6.9737a21.06,21.06,0,0,1-2.4009-3.1867,5.2264,5.2264,0,0,0-5.5791-2.3843,29.21,29.21,0,0,0,5.666,57.6687v.0217H330.9c8.0922-4.0422,9.1894-12.9819,9.3291-14.7751a18.51,18.51,0,0,1-5.19-6.49,5.5,5.5,0,0,1,10.0147-4.5493c.0654.1294,1.2714,2.4638,3.2275,3.0708,1.2754.3945,2.9268.019,4.91-1.12a5.5,5.5,0,1,1,5.4765,9.5391,19.5132,19.5132,0,0,1-7.8017,2.6435,36.5334,36.5334,0,0,1-1.1748,4.6669,5.333,5.333,0,0,0,5.0424,7.0139H371.96c4.3111.0451,37.9361,1.4595,40.0552,34.628a3.6119,3.6119,0,0,0,3.6221,3.3459h10.0244a3.6392,3.6392,0,0,0,3.6216-3.3381c.5161-6.01,2.3681-18.9031,8.9243-28.4057a5.3663,5.3663,0,0,0-1.2573-7.254,18.596,18.596,0,0,1-2.7227-2.6072c-6.7373-7.9038-4.5049-18.5-4.2285-19.6821a5.5,5.5,0,0,1,10.7178,2.4751c-.0411.1958-1.3077,6.3813,1.915,10.11,2.37,2.7408,6.7412,3.4726,10.7046,3.4783a5.3742,5.3742,0,0,0,3.7226-1.4559,31.49,31.49,0,0,0-7.6474-51.0143,5.3161,5.3161,0,0,0-6.3589,1.12,27.9207,27.9207,0,0,1-21.34,9.6364c-.2969,0-.5928-.0039-.8936-.0122l-.2393-.0122a9.159,9.159,0,0,0-5.8906,2.0244c-1.5449,1.4263-2.3789,3.7568-2.4814,6.9272-.001.0362-.0117.0691-.0137.1051A18.5665,18.5665,0,0,1,416.47,130.66a5.5,5.5,0,0,1-10.0147,4.5493c-.0654-.1294-1.2715-2.4639-3.2275-3.0708-1.2754-.3945-2.9268-.019-4.91,1.12a5.5,5.5,0,1,1-5.4765-9.539,18.9917,18.9917,0,0,1,8.7168-2.71,18.6738,18.6738,0,0,1,5.8193-11.3254,20.0414,20.0414,0,0,1,13.8242-4.7871A17.022,17.022,0,0,0,435.29,98.4491a5.2134,5.2134,0,0,0,.792-5.2886,39.3052,39.3052,0,0,0-56.189-18.9028,5.3053,5.3053,0,0,0-2.5908,4.5482,24.892,24.892,0,0,0,3.1968,12.07,5.6369,5.6369,0,0,1-2.0362,7.5193,5.4975,5.4975,0,0,1-7.5639-2.146A36.5,36.5,0,0,1,366.39,81.6406a5.3136,5.3136,0,0,0-4.9341-4.8832q-1.0628-.072-2.1445-.0725a31.5127,31.5127,0,0,0-30.439,23.38,5.2725,5.2725,0,0,0,.835,4.4766,9.4293,9.4293,0,0,0,.6743.8167c2.1436,2.313,5.3818,3.4067,9.88,3.3613.0215-.0005.0439-.0005.0644-.0005a5.5,5.5,0,0,1,.0625,11Z"/>
      <path d="M297.5674,230.2463H367.93a6,6,0,0,0,0-12H297.5674a6,6,0,0,0,0,12Z"/>
      <path d="M297.5674,253.9973h39.877a6,6,0,0,0,0-12h-39.877a6,6,0,0,0,0,12Z"/>
      <path d="M269.7046,371.7761l.0225-.2851c.9355-17.9424-4.6631-33.1729-16.6406-45.2666-29.1275-29.41-87.378-31.0818-103.5508-30.9565-1.958.0152-5.7607.0173-7.627.0009C125.9732,295.13,67.42,296.7111,38.191,326.2244c-11.95,12.0654-17.55,27.2529-16.6465,45.14.0312,3.1836.5918,68.8506-5.8945,103.7285A17.3928,17.3928,0,0,0,32.7867,495.613H260.4712A17.3888,17.3888,0,0,0,277.649,475.47C274.2554,454.3318,266.6861,401.9138,269.7046,371.7761Zm-120.4975-64.49a239.4355,239.4355,0,0,1,26.7441,1.43c-9.1645,25.6143-26.7964,36.8386-33.0766,40.1465-6.2559-3.2861-23.6348-14.3538-32.8555-39.4962a242.5067,242.5067,0,0,1,28.6787-2.0687C139.54,307.2878,147.1553,307.2981,149.2071,307.2858ZM28.5933,481.6443a5.239,5.239,0,0,1-1.1465-4.3584c6.8291-36.7168,6.1289-103.3594,6.0957-106.1777l-.0078-.2422c-.7637-14.6231,3.544-26.458,13.168-36.1827C59.4258,321.8262,79.357,314.97,97.9864,311.33c8.3838,24.6321,23.7895,38.2259,33.6186,44.7447a11.78,11.78,0,0,1,5.2657,9.8244V483.613H79.47a285.074,285.074,0,0,0,3.4272-61.81,6,6,0,0,0-11.9648.916,280.0668,280.0668,0,0,1-3.6377,60.8935H32.7867A5.4389,5.4389,0,0,1,28.5933,481.6443Zm235.99.0713a5.3334,5.3334,0,0,1-4.1123,1.8974H224.79a280.0968,280.0968,0,0,1-3.6377-60.8935,6,6,0,0,0-11.9648-.916,285.1038,285.1038,0,0,0,3.4272,61.81H148.8707V365.8989a11.7689,11.7689,0,0,1,5.2548-9.8172c9.9537-6.601,25.6348-20.4624,33.9483-45.6974,20.0332,3.3474,42.581,10.2331,56.501,24.299,9.5937,9.6934,13.9043,21.4864,13.1757,36.045-3.0107,30.4179,3.7491,79.8545,8.0508,106.6435A5.3161,5.3161,0,0,1,264.5835,481.7156Z"/>
      <path d="M143.0044,182.0559c-29.85,0-54.1347,23.0205-54.1347,51.3164s24.2851,51.3169,54.1347,51.3169,54.1348-23.0205,54.1348-51.3169S172.8541,182.0559,143.0044,182.0559Zm0,90.6333c-23.2334,0-42.1347-17.6377-42.1347-39.3169s18.9013-39.3164,42.1347-39.3164,42.1348,17.6372,42.1348,39.3164S166.2378,272.6892,143.0044,272.6892Z"/>
      <path d="M157.37,242.9556h-28.731a5.1118,5.1118,0,0,0-4.86,6.6812c1.8672,5.8537,6.7027,13.4334,19.2251,13.4334s17.3584-7.58,19.2256-13.4335A5.1119,5.1119,0,0,0,157.37,242.9556Z"/>
      <path d="M171.2,413.5854a8.7886,8.7886,0,1,0,8.788,8.7886A8.7885,8.7885,0,0,0,171.2,413.5854Z"/>
      <path d="M171.2,443.7809a8.7886,8.7886,0,1,0,8.788,8.7886A8.7884,8.7884,0,0,0,171.2,443.7809Z"/>
      <path d="M210.939,366.4877H187.4708a4.91,4.91,0,0,0-4.9107,4.91v11.7344a16.6448,16.6448,0,0,0,33.29,0V371.3982A4.91,4.91,0,0,0,210.939,366.4877Z"/>
      <path d="M236.3218,283.1785a1.0133,1.0133,0,0,1,.1172-1.1543l22.2725-28.8013a22.6073,22.6073,0,0,0,4.7011-13.7622V135.8542a6,6,0,0,0-12,0V239.4607a10.5537,10.5537,0,0,1-2.1933,6.4214l-22.2725,28.8012a13.0961,13.0961,0,0,0,10.36,21.1084H393.6978a6,6,0,0,0,0-12H237.3072A1.0151,1.0151,0,0,1,236.3218,283.1785Z"/>
      <path d="M474.146,16.387H273.91a22.5225,22.5225,0,0,0-22.4971,22.4975V82.67a6,6,0,1,0,12,0V38.8845A10.509,10.509,0,0,1,273.91,28.387H474.146a10.509,10.509,0,0,1,10.4971,10.4975v234.41a10.5089,10.5089,0,0,1-10.4971,10.497H460.2134a6,6,0,0,0,0,12H474.146a22.522,22.522,0,0,0,22.4971-22.497V38.8845A22.5225,22.5225,0,0,0,474.146,16.387Z"/>
      <path d="M91.8951,151.1389h89.854a21.38,21.38,0,0,0,21.3559-21.3555v-15.04h73.9087a6,6,0,0,0,0-12H203.105V82.3821a21.38,21.38,0,0,0-21.3559-21.356H91.8951a21.38,21.38,0,0,0-21.356,21.356v47.4013A21.38,21.38,0,0,0,91.8951,151.1389Zm-9.356-68.7568a9.3669,9.3669,0,0,1,9.356-9.356h89.854a9.3668,9.3668,0,0,1,9.3559,9.356v47.4013a9.3664,9.3664,0,0,1-9.3559,9.3555H91.8951a9.3664,9.3664,0,0,1-9.356-9.3555Z"/>
      <path d="M103.4332,99.67h66.8623a6,6,0,0,0,0-12H103.4332a6,6,0,0,0,0,12Z"/>
      <path d="M103.4332,120.6887h33.3891a6,6,0,0,0,0-12H103.4332a6,6,0,0,0,0,12Z"/>
      <path d="M452.857,342.4734h-8.7593c.0142-.1681.0254-.337.0254-.5088V301.1775a22.603,22.603,0,0,0-8.6978-17.7461L411.606,264.97a6,6,0,1,0-7.3516,9.4844l23.8194,18.4619a10.5216,10.5216,0,0,1,4.0493,8.2617v40.7871c0,.1718.0117.3407.0259.5088H384.16A21.38,21.38,0,0,0,362.8038,363.83v47.4014A21.38,21.38,0,0,0,384.16,432.5867H452.857a21.38,21.38,0,0,0,21.3559-21.3555V363.83A21.38,21.38,0,0,0,452.857,342.4734Zm9.3559,68.7578a9.3667,9.3667,0,0,1-9.3559,9.3555H384.16a9.3667,9.3667,0,0,1-9.3559-9.3555V363.83a9.3669,9.3669,0,0,1,9.3559-9.3564H452.857a9.3669,9.3669,0,0,1,9.3559,9.3564Z"/>
      <path d="M441.4034,369.1169H395.6978a6,6,0,1,0,0,12h45.7056a6,6,0,0,0,0-12Z"/>
      <path d="M423.0269,390.1365H395.6978a6,6,0,0,0,0,12h27.3291a6,6,0,0,0,0-12Z"/>
    </g>
  </svg>`,
  // Planning Fallacy - expected vs actual time diverging
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <g>
      <g>
        <path d="M503.983,55.582H67.875C30.448,55.582,0,86.031,0,123.457v260.81c0,0.388,0.037,0.767,0.091,1.142
          c-0.006,0.129-0.016,0.257-0.022,0.386c0,0.001,0,0.003,0,0.004c0,0.007,0,0.015-0.001,0.022c0,0.01-0.001,0.018-0.001,0.027
          c0,0.001,0,0.002,0,0.003C0.031,386.746,0,387.641,0,388.543c0,1.16,0.03,2.332,0.088,3.486c0.115,2.282,0.348,4.579,0.693,6.828
          c0.001,0.004,0.001,0.009,0.001,0.013c0.171,1.117,0.371,2.241,0.596,3.34c0,0.001,0,0.002,0,0.003
          c0.893,4.362,2.224,8.652,3.958,12.752c0.001,0.001,0.001,0.002,0.002,0.003c1.701,4.019,3.804,7.896,6.254,11.523
          c0.001,0.002,0.002,0.003,0.003,0.005c1.21,1.791,2.523,3.547,3.9,5.217c0.002,0.002,0.003,0.004,0.005,0.007
          c2.759,3.341,5.852,6.435,9.194,9.194c0.001,0.001,0.002,0.001,0.003,0.002c1.672,1.38,3.428,2.694,5.22,3.904l0.002,0.001
          c11.231,7.587,24.354,11.596,37.954,11.596h436.109c4.428,0,8.017-3.589,8.017-8.017V63.599
          C512,59.172,508.412,55.582,503.983,55.582z M16.033,123.457c0-28.585,23.256-51.841,51.841-51.841
          c28.585,0,51.841,23.256,51.841,51.841v221.414c-12.517-14.812-31.203-24.203-51.841-24.203s-39.325,9.391-51.841,24.203V123.457z
           M110.868,417.523c-0.925,1.369-1.929,2.712-2.983,3.99c0,0-0.001,0.001-0.002,0.002c-2.111,2.558-4.478,4.924-7.034,7.034
          c-0.001,0.001-0.001,0.001-0.002,0.002c-1.278,1.054-2.621,2.059-3.99,2.983c-0.001,0-0.001,0.001-0.002,0.001
          c-8.568,5.789-18.589,8.848-28.979,8.848s-20.411-3.059-28.978-8.848c-0.001,0-0.001-0.001-0.002-0.001
          c-1.369-0.925-2.712-1.929-3.99-2.983c0,0-0.001-0.001-0.002-0.002c-2.558-2.111-4.924-4.478-7.035-7.034
          c-0.001-0.001-0.001-0.001-0.001-0.001c-1.055-1.279-2.059-2.621-2.984-3.99c0,0-0.001-0.001-0.001-0.002
          c-1.872-2.771-3.478-5.73-4.776-8.799c0,0,0-0.002-0.001-0.002c-1.322-3.124-2.337-6.395-3.018-9.721v-0.001
          c-0.171-0.838-0.324-1.695-0.454-2.55c0-0.001-0.001-0.003-0.001-0.004c-0.263-1.72-0.441-3.478-0.53-5.226
          c-0.045-0.885-0.067-1.785-0.067-2.675c0-0.68,0.027-1.355,0.052-2.029c0.026-0.561,0.057-1.121,0.096-1.679
          c0-0.001,0-0.001,0-0.002c1.907-26.99,24.613-48.131,51.693-48.131s49.786,21.142,51.693,48.131c0,0.001,0,0.001,0,0.001
          c0.04,0.559,0.071,1.119,0.096,1.68c0.026,0.673,0.052,1.349,0.052,2.029c0,0.89-0.023,1.79-0.067,2.674
          c-0.089,1.748-0.267,3.506-0.53,5.226c0,0.001-0.001,0.003-0.001,0.004c-0.13,0.854-0.283,1.712-0.454,2.55v0.001
          c-0.681,3.325-1.695,6.595-3.017,9.721c0,0.001,0,0.002-0.001,0.002c-1.298,3.069-2.904,6.029-4.776,8.799
          C110.869,417.522,110.868,417.522,110.868,417.523z M495.967,440.384h-384.3c3.104-2.625,5.994-5.529,8.581-8.662
          c0.002-0.002,0.003-0.005,0.005-0.007c1.378-1.671,2.69-3.426,3.9-5.217c0.001-0.002,0.002-0.003,0.003-0.005
          c2.45-3.627,4.555-7.504,6.254-11.523c0-0.001,0.001-0.002,0.002-0.003c1.734-4.099,3.066-8.39,3.958-12.752
          c0-0.001,0-0.002,0-0.003c0.226-1.099,0.425-2.223,0.596-3.34c0.001-0.004,0.001-0.009,0.001-0.013
          c0.344-2.249,0.577-4.546,0.693-6.828c0.059-1.153,0.089-2.326,0.089-3.486c0-0.902-0.031-1.797-0.066-2.692
          c0-0.001,0-0.002,0-0.003c0-0.009-0.001-0.018-0.002-0.027c0-0.007,0-0.015,0-0.022c0-0.001,0-0.003,0-0.004
          c-0.006-0.129-0.016-0.257-0.022-0.386c0.053-0.374,0.091-0.753,0.091-1.142v-260.81c0-20.771-9.387-39.381-24.131-51.841h384.348
          V440.384z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M67.875,354.873c-18.566,0-33.67,15.105-33.67,33.67c0,18.566,15.105,33.67,33.67,33.67s33.67-15.105,33.67-33.67
          C101.545,369.977,86.44,354.873,67.875,354.873z M67.875,406.18c-9.725,0-17.637-7.912-17.637-17.637s7.912-17.637,17.637-17.637
          s17.637,7.912,17.637,17.637S77.6,406.18,67.875,406.18z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M93.528,179.574c-4.427,0-8.017,3.589-8.017,8.017v98.338c0,4.427,3.589,8.017,8.017,8.017s8.017-3.589,8.017-8.017
          v-98.338C101.545,183.163,97.956,179.574,93.528,179.574z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M218.23,326.484l30.611-30.611c3.131-3.131,3.131-8.207,0-11.337c-3.131-3.131-8.207-3.131-11.337,0l-30.611,30.611
          l-30.611-30.611c-3.131-3.131-8.207-3.131-11.337,0c-3.131,3.131-3.131,8.207,0,11.337l30.611,30.611l-30.611,30.611
          c-3.131,3.131-3.131,8.207,0,11.337c1.565,1.566,3.617,2.348,5.668,2.348s4.103-0.782,5.668-2.348l30.611-30.611l30.611,30.611
          c1.565,1.565,3.617,2.348,5.668,2.348s4.104-0.782,5.668-2.348c3.131-3.131,3.131-8.207,0-11.337L218.23,326.484z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M235.333,142.635l30.611-30.611c3.131-3.131,3.131-8.207,0-11.337c-3.132-3.131-8.208-3.131-11.338,0l-30.611,30.611
          l-30.611-30.611c-3.131-3.131-8.207-3.131-11.337,0c-3.131,3.131-3.131,8.207,0,11.337l30.611,30.611l-30.611,30.611
          c-3.131,3.13-3.131,8.206,0,11.337c1.565,1.566,3.617,2.348,5.668,2.348s4.103-0.782,5.668-2.348l30.611-30.611l30.611,30.611
          c1.565,1.565,3.617,2.348,5.668,2.348s4.104-0.782,5.669-2.348c3.131-3.131,3.131-8.207,0-11.337L235.333,142.635z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M440.439,369.24l30.611-30.611c3.131-3.131,3.131-8.207,0-11.337c-3.132-3.131-8.207-3.131-11.338,0l-30.611,30.611
          l-30.613-30.611c-3.132-3.131-8.207-3.131-11.338,0s-3.131,8.207,0,11.337l30.611,30.611l-30.611,30.611
          c-3.131,3.131-3.131,8.207,0,11.337c1.566,1.566,3.617,2.348,5.669,2.348c2.051,0,4.104-0.782,5.669-2.348l30.611-30.61
          l30.611,30.61c1.566,1.565,3.618,2.348,5.669,2.348s4.103-0.782,5.669-2.348c3.131-3.131,3.131-8.207,0-11.337L440.439,369.24z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M389.937,267.434l-25.653-25.653l-2.138-2.138c-3.132-3.131-8.207-3.131-11.338,0l-32.067,32.067
          c-3.131,3.131-3.131,8.207,0,11.337c1.566,1.565,3.618,2.348,5.669,2.348c2.051,0,4.104-0.782,5.669-2.348l19.674-19.674
          c-7.979,75.352-71.906,134.256-149.336,134.256c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017
          c85.453,0,156.039-64.823,165.196-147.875l12.984,12.984c1.566,1.565,3.618,2.348,5.669,2.348c2.051,0,4.104-0.782,5.669-2.348
          C393.067,275.64,393.067,270.564,389.937,267.434z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M365.027,106.889c-29.174,0-52.91,23.736-52.91,52.91c0,29.174,23.736,52.91,52.91,52.91s52.91-23.736,52.91-52.91
          C417.937,130.625,394.202,106.889,365.027,106.889z M365.027,196.676c-20.334,0-36.877-16.543-36.877-36.877
          s16.543-36.877,36.877-36.877s36.877,16.543,36.877,36.877S385.361,196.676,365.027,196.676z"/>
      </g>
    </g>
  </svg>`,
  // Overconfidence Bias - inflated perception vs actual ability
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path d="M382.132,95.913c-2.686-2.113-6.578-1.646-8.688,1.037c-2.115,2.688-1.648,6.576,1.037,8.688   c46.475,36.553,73.127,91.385,73.127,150.434c0,3.416,2.771,6.188,6.188,6.188s6.188-2.771,6.188-6.188   C459.983,193.2,431.608,134.827,382.132,95.913z"/>
      <path d="M65.058,256.071c0-59.049,26.652-113.881,73.127-150.434c2.686-2.111,3.15-6,1.037-8.688c-2.111-2.684-6-3.15-8.688-1.037   C81.058,134.827,52.683,193.2,52.683,256.071c0,3.416,2.771,6.188,6.188,6.188S65.058,259.487,65.058,256.071z"/>
      <path d="M451.319,288.03c-3.352-0.646-6.605,1.531-7.258,4.889c-12.816,65.68-58.77,118.115-118.416,141.375l1.674,12.564   c64.863-24.205,115.045-80.611,128.889-151.57C456.862,291.935,454.675,288.685,451.319,288.03z"/>
      <path d="M186.991,434.284c-59.643-23.27-105.588-75.711-118.395-141.393c-0.652-3.354-3.902-5.533-7.256-4.889   c-3.354,0.654-5.545,3.902-4.891,7.256c13.834,70.961,64.004,127.373,128.865,151.588L186.991,434.284z"/>
      <path d="M269.862,446.8c-4.479,0.324-8.98,0.545-13.529,0.545c-4.557,0-9.066-0.223-13.555-0.547l-1.695,12.322   c5.043,0.387,10.125,0.6,15.25,0.6c5.117,0,10.191-0.213,15.227-0.598L269.862,446.8z"/>
      <path d="M168.14,78.952c6.148,2.256,9.236,5.342,11.492,11.492c0.965,2.625,4.631,2.625,5.594,0   c2.258-6.15,5.344-9.236,11.492-11.492c2.627-0.965,2.627-4.633,0-5.594c-6.148-2.258-9.234-5.344-11.492-11.494   c-0.963-2.627-4.629-2.627-5.594,0c-2.256,6.15-5.344,9.236-11.492,11.494C165.515,74.319,165.515,77.987,168.14,78.952z"/>
      <path d="M316.677,78.952c6.15,2.256,9.236,5.342,11.492,11.492c0.965,2.625,4.633,2.625,5.598,0   c2.254-6.15,5.34-9.236,11.49-11.492c2.627-0.965,2.627-4.633,0-5.594c-6.15-2.258-9.236-5.344-11.49-11.494   c-0.965-2.627-4.633-2.627-5.598,0c-2.256,6.15-5.342,9.236-11.492,11.494C314.052,74.319,314.052,77.987,316.677,78.952z"/>
      <path d="M235.827,61.28c1.191,0.863,1.689,2.396,1.234,3.799L229.63,87.95c-1.016,3.131,2.566,5.734,5.23,3.799l19.455-14.135   c1.189-0.865,2.803-0.865,3.994,0l19.457,14.135c2.662,1.936,6.246-0.668,5.229-3.799l-7.432-22.871   c-0.453-1.402,0.045-2.936,1.236-3.799l19.455-14.886c2.662-1.934,1.295-6.894-1.998-6.894h-24.049c-1.473,0-2.777-0.2-3.232-1.6   l-7.432-22.5c-1.018-3.129-5.445-2.941-6.461,0.188l-7.434,22.219c-0.455,1.398-1.758,1.693-3.23,1.693h-24.051   c-3.293,0-4.66,4.96-1.998,6.894L235.827,61.28z"/>
      <path d="M256.312,127.446c-20.479,0-37.08,16.6-37.08,37.08c0,20.479,16.602,37.078,37.08,37.078   c20.48,0,37.082-16.6,37.082-37.078C293.394,144.046,276.792,127.446,256.312,127.446z M272.243,168.388   c-1.26,7.867-7.965,13.578-15.939,13.578c-7.9,0-14.592-5.645-15.912-13.42c-0.168-0.977,0.105-1.979,0.742-2.736   s1.574-1.199,2.566-1.203l25.191-0.129c1.021,0.002,1.934,0.424,2.58,1.178C272.116,166.409,272.397,167.407,272.243,168.388z"/>
      <path d="M306.46,358.542l-1.131-8.572l-0.105,0.08l-6.68-45.402l0.113-0.115l-1.176-8.553l-4.049-29.727   c-0.158-1.146,1.215-1.82,2.025-1.01l15.549,15.547c3.283,3.285,3.283,8.594,0,11.879l-1.33,1.33l6.674,45.389l27.797-25.365   c15.029-15.051,15.029-39.443,0-54.473l0.047-0.068l-20.904-20.787c-14.939-14.92-35.168-23.195-56.273-23.195H245.62   c-21.105,0-41.355,8.218-56.271,23.138L168.446,259.5h0.043c-15.029,15-15.029,39.445,0,54.498l27.82,25.385l6.67-45.37   l-1.346-1.347c-3.285-3.285-3.285-8.593,0-11.878l15.547-15.547c0.809-0.809,2.182-0.136,2.023,1.011l-5.225,38.278l0.111,0.111   l-6.633,45.258l-0.127-0.119l-19.176,143.512c-0.383,2.879,1.867,5.208,4.77,5.208h29.363c2.408,0,4.432-1.52,4.77-3.902   l15.908-115.318c0.27-1.957,0.922-3.739,1.867-5.358c5.018-8.527,17.955-8.495,22.949,0.032c0.945,1.619,1.6,3.479,1.891,5.44   l15.906,115.194c0.34,2.385,2.365,3.912,4.771,3.912h29.361c2.902,0,5.152-2.328,4.77-5.207L306.46,358.542z M269.104,290.901   l-12.256,8.604l-12.771-8.604c-0.377-0.262-0.822-0.73-0.717-1.18l10.305-44.066c0.076-0.32-0.061-0.658-0.256-0.924l-7.156-9.556   c-0.547-0.742-0.049-1.675,0.875-1.675h18.395c0.924,0,1.453,0.933,0.906,1.675l-7.121,9.614c-0.199,0.266-0.268,0.576-0.189,0.896   l10.434,44.051C269.661,290.186,269.481,290.64,269.104,290.901z"/>
    </g>
  </svg>`,
  // Illusion of Progress - progress bar
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0 7.23858 2.23858 5 5 5H19C21.7614 5 24 7.23858 24 10V14C24 16.7614 21.7614 19 19 19H5C2.23858 19 0 16.7614 0 14V10ZM5 7C3.34315 7 2 8.34315 2 10V14C2 15.6569 3.34315 17 5 17H19C20.6569 17 22 15.6569 22 14V10C22 8.34315 20.6569 7 19 7H5ZM10 11C10 9.89543 10.8954 9 12 9C13.1046 9 14 9.89543 14 11V13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13V11ZM6 9C4.89543 9 4 9.89543 4 11V13C4 14.1046 4.89543 15 6 15C7.10457 15 8 14.1046 8 13V11C8 9.89543 7.10457 9 6 9Z"/>
  </svg>`,
  // Overestimation - gap between claimed vs actual
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
    <rect height="2" width="2" x="31" y="5"/>
    <path d="M32,31A14,14,0,1,0,18,17,14,14,0,0,0,32,31ZM32,5A12,12,0,0,1,44,16H43v2h1A12,12,0,0,1,33,29V27H31V29A12,12,0,0,1,20.05,18H21V16h-.95A12,12,0,0,1,32,5Z"/>
    <path d="M34,18h4V16H34.85A2.81,2.81,0,0,0,33,14.15V9H31v9h3Z"/>
    <path d="M48,33H16C8.83,33,3,38.45,3,45.14V61H61V45.14C61,38.45,55.17,33,48,33ZM35.91,35l-.54,6H28.63l-.54-6ZM36,51.44l-4,3.27-4-3.27L28.64,43h6.72ZM59,59H5V45.14C5,39.55,9.93,35,16,35H26.09l.62,7L26,52.33l6,5,6-5L37.29,42l.62-7H48c6.07,0,11,4.55,11,10.14Z"/>
  </svg>`,
  // Availability Bias - uneven distribution
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <g>
      <g>
        <path d="M217.624,326.483l-97.186-96.012c-6.335-6.335-14.758-9.824-23.716-9.824c-6.154,0-12.055,1.646-17.2,4.731V109.796
          c0-5.9-1.537-11.446-4.222-16.267c1.768-0.601,3.633-0.932,5.545-0.932c9.484,0,17.199,7.716,17.199,17.2v84.951
          c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-84.951c0-18.494-15.045-33.54-33.539-33.54
          c-6.227,0-12.226,1.711-17.436,4.891c-5.082-3.101-11.048-4.891-17.424-4.891c-18.494,0-33.54,15.046-33.54,33.547l0.142,161.102
          c0.007,7.218,2.679,17.407,6.216,23.7c0.057,0.101,0.115,0.2,0.178,0.298l100.63,162.43c2.122,3.865,4.036,11.226,4.036,15.564
          v30.789c0,4.512,3.658,8.17,8.17,8.17c4.512,0,8.17-3.658,8.17-8.17v-30.789c0-7.22-2.669-17.412-6.207-23.707
          c-0.057-0.101-0.115-0.2-0.177-0.298L32.97,286.462c-2.122-3.868-4.039-11.231-4.044-15.571l-0.142-161.095
          c0-9.484,7.715-17.2,17.199-17.2c9.484,0,17.199,7.716,17.199,17.2v144.392c0,0.204,0.016,0.403,0.031,0.602
          c0.149,8.387,3.408,16.728,9.793,23.114l78.059,78.059c3.191,3.191,8.364,3.191,11.554,0c3.191-3.191,3.191-8.364,0-11.554
          l-78.058-78.06c-3.248-3.248-5.038-7.568-5.038-12.163c0-4.594,1.79-8.913,5.038-12.162s7.568-5.038,12.162-5.038
          c4.594,0,8.913,1.79,12.196,5.073l97.186,96.012c10.808,10.808,19.938,32.851,19.938,48.136V503.83c0,4.512,3.658,8.17,8.17,8.17
          s8.17-3.658,8.17-8.17V386.207C242.383,366.601,231.523,340.382,217.624,326.483z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M466.017,76.255c-6.376,0-12.342,1.79-17.423,4.891c-5.211-3.18-11.211-4.891-17.436-4.891
          c-18.494,0-33.54,15.046-33.54,33.54v84.951c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-84.951
          c0-9.484,7.716-17.2,17.199-17.2c1.912,0,3.777,0.331,5.544,0.932c-2.686,4.822-4.222,10.367-4.222,16.267v115.582
          c-5.145-3.084-11.046-4.731-17.2-4.731c-8.959,0-17.382,3.489-23.681,9.789l-97.256,96.082
          c-13.864,13.864-24.724,40.083-24.724,59.689V503.83c0,4.512,3.658,8.17,8.17,8.17c4.512,0,8.17-3.658,8.17-8.17V386.207
          c0-15.284,9.13-37.327,19.903-48.1l97.256-96.082c3.248-3.248,7.568-5.038,12.162-5.038c4.594,0,8.913,1.79,12.162,5.038
          c3.248,3.248,5.038,7.568,5.038,12.162c0,4.595-1.79,8.914-5.038,12.163l-78.059,78.059c-3.191,3.191-3.191,8.364,0,11.554
          c3.191,3.191,8.364,3.191,11.554,0l78.059-78.059c6.386-6.386,9.644-14.727,9.793-23.114c0.014-0.199,0.031-0.4,0.031-0.602
          V109.796c0-9.484,7.716-17.2,17.199-17.2c9.484,0,17.2,7.716,17.2,17.192l-0.142,161.104c-0.003,4.34-1.922,11.703-4.045,15.571
          L378.401,448.892c-0.061,0.098-0.12,0.198-0.177,0.298c-3.539,6.294-6.207,16.485-6.207,23.707v30.789
          c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-30.789c0-4.339,1.914-11.699,4.035-15.564l100.63-162.43
          c0.061-0.098,0.12-0.198,0.178-0.298c3.538-6.294,6.21-16.483,6.216-23.7l0.142-161.11
          C499.556,91.302,484.511,76.255,466.017,76.255z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M373.106,59.915c4.512,0,8.17-3.658,8.17-8.17V8.17c0-4.512-3.658-8.17-8.17-8.17H138.894c-4.512,0-8.17,3.658-8.17,8.17
          v43.574c0,4.512,3.658,8.17,8.17,8.17h2.723v16.34h-2.723c-4.512,0-8.17,3.658-8.17,8.17V128c0,4.512,3.658,8.17,8.17,8.17h2.723
          v16.34h-2.723c-4.512,0-8.17,3.658-8.17,8.17v43.574c0,4.512,3.658,8.17,8.17,8.17h234.213c4.512,0,8.17-3.658,8.17-8.17v-43.574
          c0-4.512-3.658-8.17-8.17-8.17h-2.723v-16.34h2.723c4.512,0,8.17-3.658,8.17-8.17V84.426c0-4.512-3.658-8.17-8.17-8.17h-2.723
          v-16.34H373.106z M364.936,196.085H147.064v-27.234h217.872V196.085z M364.936,119.83h-35.404c-4.512,0-8.17,3.658-8.17,8.17
          s3.658,8.17,8.17,8.17h24.511v16.34H157.957v-16.34h138.894c4.512,0,8.17-3.658,8.17-8.17s-3.658-8.17-8.17-8.17H147.064V92.596
          h217.872V119.83z M157.957,76.255v-16.34h196.085v16.34H157.957z M364.936,43.574H147.064V16.34h217.872V43.574z"/>
      </g>
    </g>
  </svg>`,
  // Consistency Gap - intermittent broken lines
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
    <path d="M132,32V64a4,4,0,0,1-8,0V32a4,4,0,0,1,8,0Zm92,92H192a4,4,0,0,0,0,8h32a4,4,0,0,0,0-8Zm-47.917,46.42676a3.99957,3.99957,0,0,0-5.65625,5.65625L193.05371,198.71a3.99957,3.99957,0,0,0,5.65625-5.65625ZM128,188a4.0002,4.0002,0,0,0-4,4v32a4,4,0,0,0,8,0V192A4.0002,4.0002,0,0,0,128,188ZM79.917,170.42676,57.29,193.05371A3.99957,3.99957,0,1,0,62.94629,198.71l22.627-22.62695a3.99957,3.99957,0,0,0-5.65625-5.65625ZM68,128a4.0002,4.0002,0,0,0-4-4H32a4,4,0,0,0,0,8H64A4.0002,4.0002,0,0,0,68,128ZM62.94629,57.29A3.99957,3.99957,0,0,0,57.29,62.94629l22.627,22.627A3.99957,3.99957,0,0,0,85.57324,79.917Z"/>
  </svg>`,
  // Strategic Misalignment - diverging effort vs results
  `<svg fill="currentColor" width="200" height="200" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
    <path d="M208.508 583.99c-4.406 0-8.078-3.578-8.078-7.998 0-4.422 3.5-8 7.92-8h0.156c4.42 0 8 3.578 8 8a7.994 7.994 0 0 1-7.998 7.998z"/>
    <path d="M999.936 767.966H56.058c-4.422 0-8-3.578-8-8V152.046c0-4.422 3.578-8 8-8h943.876c4.422 0 8 3.578 8 8v607.92a7.992 7.992 0 0 1-7.998 8z m-935.878-15.998h927.88V160.044H64.058v591.924z"/>
    <path d="M775.964 416.012c-22.058 0-39.994-17.944-39.994-39.994 0-7.016 1.844-13.936 5.342-20.006a8.004 8.004 0 0 1 13.876 7.984 24.02 24.02 0 0 0-3.218 12.022c0 13.232 10.764 23.996 23.996 23.996s23.998-10.764 23.998-23.996a24.12 24.12 0 0 0-3.204-11.966 8 8 0 0 1 2.984-10.914c3.78-2.202 8.702-0.882 10.92 2.976a40.19 40.19 0 0 1 5.296 19.904c0 22.05-17.934 39.994-39.996 39.994z"/>
    <path d="M775.964 384.016a7.992 7.992 0 0 1-7.998-7.998V216.04c0-4.422 3.576-8 7.998-8s8 3.578 8 8v159.978a7.994 7.994 0 0 1-8 7.998z"/>
    <path d="M855.956 272.032h-63.992a7.994 7.994 0 0 1-7.998-8 7.994 7.994 0 0 1 7.998-7.998h55.994v-15.998h-55.994a7.994 7.994 0 0 1-7.998-8 7.994 7.994 0 0 1 7.998-7.998h63.992a7.994 7.994 0 0 1 7.998 7.998v31.996c0 4.422-3.578 8-7.998 8zM919.948 304.028h-79.99c-4.422 0-8-3.578-8-8a7.994 7.994 0 0 1 8-7.998h79.99a7.994 7.994 0 0 1 7.998 7.998c0 4.422-3.578 8-7.998 8zM919.948 272.032h-31.996c-4.422 0-8-3.578-8-8a7.994 7.994 0 0 1 8-7.998h31.996a7.994 7.994 0 0 1 7.998 7.998c0 4.422-3.578 8-7.998 8z"/>
    <path d="M919.948 304.028a7.976 7.976 0 0 1-5.656-2.344l-15.998-15.998a7.996 7.996 0 0 1 0-11.31l15.998-15.998a7.996 7.996 0 1 1 11.31 11.31l-10.342 10.342 10.342 10.344a7.996 7.996 0 0 1-5.654 13.654zM208.04 623.984c-26.464 0-47.994-21.528-47.994-47.992 0-26.466 21.53-47.994 47.994-47.994s47.994 21.528 47.994 47.994-21.53 47.992-47.994 47.992z m0-79.988c-17.654 0-31.996 14.342-31.996 31.996 0 17.652 14.342 31.994 31.996 31.994 17.638 0 31.996-14.342 31.996-31.994 0-17.654-14.358-31.996-31.996-31.996zM256.034 535.996a7.95 7.95 0 0 1-5.906-2.61 7.982 7.982 0 0 1 0.516-11.294c184.524-168.486 459.518-138.326 462.268-138.022a7.99 7.99 0 0 1 7 8.876c-0.516 4.366-4.156 7.498-8.876 7.014-2.624-0.32-270.542-29.536-449.612 133.944a7.958 7.958 0 0 1-5.39 2.092z"/>
    <path d="M679.976 416.012a8.008 8.008 0 0 1-7.154-4.42 8.006 8.006 0 0 1 3.578-10.734l31.996-15.998a8.004 8.004 0 0 1 10.732 3.578 8.004 8.004 0 0 1-3.578 10.732l-31.996 15.998a8.066 8.066 0 0 1-3.578 0.844z"/>
    <path d="M711.972 400.014c-1.204 0-2.42-0.274-3.576-0.844l-31.996-15.998a8.004 8.004 0 0 1-3.578-10.732c1.984-3.954 6.78-5.514 10.732-3.578l31.996 15.998a8.006 8.006 0 0 1 3.578 10.734 8.008 8.008 0 0 1-7.156 4.42zM496.002 296.028a7.976 7.976 0 0 1-5.656-2.344l-31.996-31.996a8 8 0 0 1 11.312-11.31l31.996 31.996a7.996 7.996 0 0 1-5.656 13.654z"/>
    <path d="M464.006 296.028a7.996 7.996 0 0 1-5.656-13.654l31.996-31.996a8 8 0 0 1 11.312 11.31l-31.996 31.996a7.976 7.976 0 0 1-5.656 2.344z"/>
    <path d="M480.004 320.026c-26.464 0-47.994-21.53-47.994-47.994s21.53-47.994 47.994-47.994 47.994 21.53 47.994 47.994-21.53 47.994-47.994 47.994z m0-79.99c-17.638 0-31.996 14.35-31.996 31.996s14.358 31.996 31.996 31.996c17.654 0 31.996-14.35 31.996-31.996s-14.342-31.996-31.996-31.996zM264.016 368.018a7.986 7.986 0 0 1-5.656-2.342l-47.994-47.994a7.996 7.996 0 1 1 11.31-11.31l47.994 47.992a8 8 0 0 1-5.654 13.654z"/>
    <path d="M216.022 368.018a8 8 0 0 1-5.656-13.654l47.994-47.992a8 8 0 0 1 11.312 11.31l-47.994 47.994a7.982 7.982 0 0 1-5.656 2.342zM447.992 647.982a7.976 7.976 0 0 1-5.656-2.344l-31.996-31.996a8 8 0 0 1 11.312-11.31l31.996 31.996a7.996 7.996 0 0 1-5.656 13.654z"/>
    <path d="M415.996 647.982a7.996 7.996 0 0 1-5.656-13.654l31.996-31.996a8 8 0 0 1 11.312 11.31l-31.996 31.996a7.968 7.968 0 0 1-5.656 2.344z"/>
    <path d="M432.01 671.978c-26.464 0-47.994-21.53-47.994-47.994s21.53-47.992 47.994-47.992 47.994 21.528 47.994 47.992-21.53 47.994-47.994 47.994z m0-79.99c-17.654 0-31.996 14.344-31.996 31.996 0 17.654 14.342 31.996 31.996 31.996 17.638 0 31.996-14.342 31.996-31.996 0-17.652-14.358-31.996-31.996-31.996zM647.982 591.988a7.976 7.976 0 0 1-5.656-2.344l-47.994-47.992a8 8 0 1 1 11.312-11.312l47.992 47.994a7.996 7.996 0 0 1-5.654 13.654z"/>
    <path d="M599.988 591.988a7.996 7.996 0 0 1-5.656-13.654l47.994-47.994a8 8 0 0 1 11.31 11.312l-47.992 47.992a7.964 7.964 0 0 1-5.656 2.344zM831.958 663.98a7.976 7.976 0 0 1-5.654-2.344l-31.996-31.996a7.996 7.996 0 1 1 11.31-11.31l31.996 31.994a8 8 0 0 1-5.656 13.656z"/>
    <path d="M799.962 663.98a8 8 0 0 1-5.656-13.656l31.996-31.994a7.996 7.996 0 1 1 11.31 11.31l-31.996 31.996a7.964 7.964 0 0 1-5.654 2.344z"/>
    <path d="M815.96 687.976c-26.466 0-47.994-21.528-47.994-47.994 0-26.464 21.528-47.994 47.994-47.994 26.464 0 47.992 21.53 47.992 47.994 0.002 26.468-21.526 47.994-47.992 47.994z m0-79.99c-17.638 0-31.996 14.342-31.996 31.996s14.358 31.996 31.996 31.996c17.636 0 31.996-14.342 31.996-31.996s-14.358-31.996-31.996-31.996z"/>
    <path d="M527.998 96.052h-31.996c-4.422 0-8-3.576-8-7.998V56.058a7.994 7.994 0 0 1 8-7.998h31.996a7.994 7.994 0 0 1 7.998 7.998v31.996a7.994 7.994 0 0 1-7.998 7.998zM504 80.056h15.998v-15.998H504v15.998z"/>
    <path d="M1015.934 160.044H8.064a7.994 7.994 0 0 1-7.998-7.998V88.054a7.994 7.994 0 0 1 7.998-7.998h1007.87c4.422 0 8 3.576 8 7.998v63.992a7.994 7.994 0 0 1-8 7.998zM16.064 144.046h991.872V96.052H16.064v47.994z"/>
    <path d="M967.942 128.048H56.058c-4.422 0-8-3.576-8-7.998s3.578-8 8-8H967.94c4.42 0 7.998 3.578 7.998 8s-3.576 7.998-7.996 7.998z"/>
    <path d="M727.972 975.94a8.176 8.176 0 0 1-3.578-0.844l-215.972-107.986a8.002 8.002 0 0 1-3.578-10.732 8.008 8.008 0 0 1 10.734-3.578l215.97 107.986a8.002 8.002 0 0 1 3.578 10.732 8.02 8.02 0 0 1-7.154 4.422zM791.962 975.94a8.16 8.16 0 0 1-3.576-0.844l-279.964-139.982a8 8 0 0 1-3.578-10.732 8.008 8.008 0 0 1 10.734-3.578l279.962 139.982c3.954 1.968 5.544 6.782 3.578 10.732a8.02 8.02 0 0 1-7.156 4.422z"/>
    <path d="M791.962 975.94h-63.99c-4.422 0-8-3.578-8-7.998 0-4.422 3.578-8 8-8h63.99c4.422 0 8 3.578 8 8a7.994 7.994 0 0 1-8 7.998z"/>
    <path d="M296.042 975.94a8.02 8.02 0 0 1-7.17-4.422 8 8 0 0 1 3.578-10.732L508.422 852.8a8.004 8.004 0 0 1 10.732 3.578 7.988 7.988 0 0 1-3.576 10.732l-215.972 107.986a8.072 8.072 0 0 1-3.564 0.844zM232.05 975.94a8.024 8.024 0 0 1-7.17-4.422 8 8 0 0 1 3.578-10.732l279.964-139.982a8.004 8.004 0 0 1 10.732 3.578 7.988 7.988 0 0 1-3.576 10.732l-279.964 139.982a8.072 8.072 0 0 1-3.564 0.844z"/>
    <path d="M296.028 975.94h-63.992a7.994 7.994 0 0 1-7.998-7.998c0-4.422 3.578-8 7.998-8h63.992c4.422 0 8 3.578 8 8a7.996 7.996 0 0 1-8 7.998z"/>
    <path d="M496.002 843.958c-4.422 0-8-3.578-8-8v-75.99a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v75.99c0 4.42-3.578 8-7.998 8z"/>
    <path d="M527.998 843.958c-4.422 0-8-3.578-8-8v-75.99a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v75.99c0 4.42-3.578 8-7.998 8z"/>
    <path d="M527.998 975.94c-4.422 0-8-3.578-8-7.998v-99.988a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v99.988a7.994 7.994 0 0 1-7.998 7.998z"/>
    <path d="M527.998 975.94h-31.996c-4.422 0-8-3.578-8-7.998 0-4.422 3.578-8 8-8h31.996a7.994 7.994 0 0 1 7.998 8 7.994 7.994 0 0 1-7.998 7.998z"/>
    <path d="M496.002 975.94c-4.422 0-8-3.578-8-7.998v-99.988a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v99.988a7.994 7.994 0 0 1-7.998 7.998z"/>
  </svg>`,
];
---

<section class="ps-section relative isolate overflow-hidden bg-light text-body py-8 sm:py-10 lg:py-12">
  <div class="relative z-10 w-full px-4 sm:px-6 lg:px-8 xl:px-12">
    <div class="mx-auto max-w-[1400px]">
      <!-- Header Section -->
      <div class="ps-header text-center mb-12">
          {tagline && (
            <div class="ps-tagline mb-4">
            <p class="text-xs font-bold uppercase tracking-[0.4em] text-secondary">
                {tagline}
              </p>
            </div>
          )}

          {title && (
            <div class="ps-title mb-5">
            <h2 class="text-3xl sm:text-4xl lg:text-[2.9rem] font-bold leading-[1.15] tracking-tight text-[#0d1b3d]" set:html={markdownify(title)} />
            </div>
          )}

          {subtitle && (
            <div class="ps-subtitle mb-6">
            <p class="text-lg sm:text-xl font-semibold text-[#4a5568] leading-relaxed" set:html={markdownify(subtitle)} />
            </div>
          )}

          {description && (
            <div class="ps-description mb-6">
            <p class="text-base sm:text-lg leading-relaxed text-[#2d3748] font-normal" set:html={markdownify(description)} />
                </div>
              )}
            </div>

      <!-- Cards Grid -->
      <div class="ps-media w-full">
        <div class="ps-controls" aria-hidden="false">
          <button class="ps-nav-btn ps-nav-btn--prev" type="button" aria-label="Previous cards">←</button>
          <button class="ps-nav-btn ps-nav-btn--next" type="button" aria-label="Next cards">→</button>
        </div>
        <div class="ps-cards-grid" id="ps-cards-grid">
          {cards.map((card, index) => {
            const colorScheme = cardColors[index % cardColors.length];
            const isDark = colorScheme.bg === "#1C1C1E";
            const icon = cardIcons[index % cardIcons.length];
            return (
              <div
                class="ps-card-container"
                data-card-index={index}
              >
                <div
                  class="ps-card rounded-lg p-6 relative overflow-hidden flex flex-col"
                  style={`background-color: ${colorScheme.bg}; color: ${colorScheme.text};`}
                >
                  {!isDark && (
                    <div
                      class="ps-card-pattern absolute inset-0 opacity-20"
                      style={`background-color: ${colorScheme.pattern}; background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0,0,0,0.03) 15px, rgba(0,0,0,0.03) 16px);`}
                    />
                  )}
                  {isDark && (
                    <div
                      class="ps-card-pattern absolute inset-0 opacity-10"
                      style={`background-color: ${colorScheme.pattern}; background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,0.05) 15px, rgba(255,255,255,0.05) 16px);`}
                    />
                  )}
                  <div class="relative z-10 flex flex-col flex-grow ps-card-body">
                    <div class="ps-card-content mb-6">
                      <h3 class="ps-card-title text-lg sm:text-xl font-bold mb-3 leading-tight text-left ps-card-item" data-translate-z="50" style={`color: ${colorScheme.text};`}>
                        {card.name}
                      </h3>
                      <p class="ps-card-description text-sm sm:text-base leading-relaxed text-left ps-card-item" data-translate-z="60" style={`color: ${colorScheme.desc};`}>
                        {card.description}
                      </p>
                    </div>
                    <div class="ps-card-icon mt-auto flex justify-center items-center ps-card-item" data-translate-z="100">
                      <div class="ps-icon-wrapper" set:html={icon} />
                    </div>
                  </div>
                </div>
              </div>
            );
          })}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ps-header {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .ps-tagline p {
    color: var(--color-secondary, #fcb23b);
    font-weight: 700;
  }

  .ps-title h2 {
    color: #0d1b3d;
    font-weight: 800;
  }

  .ps-subtitle p {
    color: #4a5568;
    font-weight: 600;
  }

  .ps-description p {
    color: #2d3748;
    font-weight: 400;
    line-height: 1.75;
  }

  .ps-media {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .ps-controls {
    position: absolute;
    right: 0;
    top: -3.75rem;
    display: flex;
    gap: 0.5rem;
    z-index: 20;
    pointer-events: none;
    padding-inline: 0.25rem;
  }

  .ps-nav-btn {
    pointer-events: auto;
    background: #0d1b3d;
    color: #ffffff;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 0.95rem;
    font-weight: 700;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.15s ease, opacity 0.15s ease;
  }

  .ps-nav-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: scale(0.95);
  }

  .ps-nav-btn:not(:disabled):hover {
    transform: translateY(-2px);
  }

  @media (max-width: 639px) {
    .ps-controls {
      top: -3.25rem;
      right: 0.25rem;
    }

    .ps-nav-btn {
      width: 30px;
      height: 30px;
      font-size: 0.9rem;
    }
  }

  .ps-cards-grid {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0.25rem 0.5rem 0.75rem;
    gap: 1.5rem;
    cursor: grab;
  }

  .ps-card-container {
    perspective: 1000px;
    flex: 0 0 calc(33.333% - 1rem);
    min-width: 210px;
    max-width: 300px;
    height: 300px;
    scroll-snap-align: start;
  }

  .ps-card {
    --ps-icon-size: clamp(78px, 11vw, 110px);
    width: 100%;
    min-height: 300px;
    height: 300px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    transform-style: preserve-3d;
  }

  .ps-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .ps-card-body {
    transform-style: preserve-3d;
  }

  .ps-card-item {
    transition: transform 0.2s ease-linear;
  }

  .ps-card-pattern {
    background-size: 20px 20px;
  }

  .ps-card-content {
    flex: 1;
  }

  .ps-card-title {
    font-weight: 700;
    text-align: left;
  }

  .ps-card-description {
    line-height: 1.6;
    text-align: left;
  }

  .ps-card-icon {
    margin-top: auto;
    padding-top: 1rem;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ps-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--ps-icon-size);
    height: var(--ps-icon-size);
    flex-shrink: 0;
  }

  .ps-icon-wrapper svg {
    width: 100%;
    height: 100%;
    max-width: none;
  }

  /* Nudge 9th card icon up to avoid cropping without shifting grid */
  .ps-card-container[data-card-index="8"] .ps-card-icon {
    padding-top: -4rem;
  }

  .ps-card-container[data-card-index="8"] .ps-icon-wrapper {
    margin-top: -70px;
  }

  /* Carousel responsiveness */
  @media (max-width: 1023px) {
    .ps-cards-grid {
      gap: 1.25rem;
    }

    .ps-card-container {
      flex-basis: calc(50% - 0.75rem);
      max-width: 400px;
    }
  }

  @media (max-width: 639px) {
    .ps-card-container {
      flex-basis: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }

  /* Optional subtle scrollbar styling */
  .ps-cards-grid::-webkit-scrollbar {
    display: none;
  }
  .ps-cards-grid {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .ps-media {
    position: relative;
    align-items: flex-start;
  }

  .ps-cards-grid.ps-dragging {
    cursor: grabbing;
  }
</style>

<script is:inline>
  (function() {
    'use strict';
    function init3DCards() {
      var cardContainers = document.querySelectorAll('.ps-card-container');
      
      cardContainers.forEach(function(container) {
        var cardEl = container.querySelector('.ps-card');
        if (!cardEl || !(cardEl instanceof HTMLElement)) return;
        
        var card = cardEl;
        var cardItems = container.querySelectorAll('.ps-card-item');
        var isMouseEntered = false;

        function handleMouseMove(e) {
          var rect = card.getBoundingClientRect();
          var x = e.clientX - rect.left;
          var y = e.clientY - rect.top;
          var centerX = rect.width / 2;
          var centerY = rect.height / 2;
          var rotateX = (y - centerY) / 25;
          var rotateY = (centerX - x) / 25;

          card.style.transform = 'rotateX(' + rotateX + 'deg) rotateY(' + rotateY + 'deg)';

          cardItems.forEach(function(item) {
            if (!(item instanceof HTMLElement)) return;
            var translateZ = item.getAttribute('data-translate-z');
            if (translateZ && isMouseEntered) {
              var zValue = parseInt(translateZ, 10);
              item.style.transform = 'translateZ(' + zValue + 'px)';
            }
          });
        }

        function handleMouseEnter() {
          isMouseEntered = true;
        }

        function handleMouseLeave() {
          isMouseEntered = false;
          card.style.transform = 'rotateX(0deg) rotateY(0deg)';
          cardItems.forEach(function(item) {
            if (item instanceof HTMLElement) {
              item.style.transform = 'translateZ(0px)';
            }
          });
        }

        container.addEventListener('mousemove', handleMouseMove);
        container.addEventListener('mouseenter', handleMouseEnter);
        container.addEventListener('mouseleave', handleMouseLeave);
      });
    }

    function initDragScroll() {
      var grid = document.getElementById('ps-cards-grid');
      if (!grid) return;

      var isDown = false;
      var startX = 0;
      var scrollLeft = 0;

      function getPageX(e) {
        if (e.touches && e.touches.length) return e.touches[0].pageX;
        return e.pageX;
      }

      function handleDown(e) {
        isDown = true;
        startX = getPageX(e);
        scrollLeft = grid.scrollLeft;
        grid.classList.add('ps-dragging');
      }

      function handleMove(e) {
        if (!isDown) return;
        var x = getPageX(e);
        var walk = x - startX;
        grid.scrollLeft = scrollLeft - walk;
        if (e.cancelable !== false) e.preventDefault();
      }

      function handleUp() {
        isDown = false;
        grid.classList.remove('ps-dragging');
      }

      grid.addEventListener('mousedown', handleDown);
      grid.addEventListener('touchstart', handleDown, { passive: true });
      window.addEventListener('mousemove', handleMove, { passive: false });
      window.addEventListener('touchmove', handleMove, { passive: false });
      window.addEventListener('mouseup', handleUp);
      window.addEventListener('touchend', handleUp);
      window.addEventListener('touchcancel', handleUp);
    }

    function initNavButtons() {
      var grid = document.getElementById('ps-cards-grid');
      var prevBtn = document.querySelector('.ps-nav-btn--prev');
      var nextBtn = document.querySelector('.ps-nav-btn--next');
      if (!grid || !prevBtn || !nextBtn) return;

      var defaultGap = 24; // 1.5rem fallback

      function getStep() {
        var card = grid.querySelector('.ps-card-container');
        if (!card) return 320;
        var style = window.getComputedStyle(grid);
        var gap = parseFloat(style.columnGap || style.gap || defaultGap);
        return card.getBoundingClientRect().width + gap;
      }

      function updateDisabled() {
        var maxScroll = grid.scrollWidth - grid.clientWidth - 2;
        prevBtn.disabled = grid.scrollLeft <= 0;
        nextBtn.disabled = grid.scrollLeft >= maxScroll;
      }

      function scrollByStep(direction) {
        var step = getStep();
        grid.scrollBy({ left: direction * step, behavior: 'smooth' });
        setTimeout(updateDisabled, 260);
      }

      prevBtn.addEventListener('click', function() {
        scrollByStep(-1);
      });

      nextBtn.addEventListener('click', function() {
        scrollByStep(1);
      });

      grid.addEventListener('scroll', updateDisabled);
      updateDisabled();
    }

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', init3DCards);
      document.addEventListener('DOMContentLoaded', initDragScroll);
      document.addEventListener('DOMContentLoaded', initNavButtons);
    } else {
      init3DCards();
      initDragScroll();
      initNavButtons();
    }
  })();
</script>

