---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { quote, table, supporting_quote } = (
  (await getEntry(
    "socialProofSection",
    "social-proof"
  )) as CollectionEntry<"socialProofSection">
).data;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        {
          quote && (
            <blockquote class="mb-12 text-2xl font-bold text-tertiary italic lg:text-3xl">
              "{quote}"
            </blockquote>
          )
        }
      </div>
      <div class="col-12" data-aos="fade-up-sm" data-aos-delay="200">
        <div class="overflow-x-auto rounded-xl bg-light p-6 md:p-8">
          <table class="w-full">
            <thead>
              <tr class="border-b border-border">
                {
                  table.headers.map((header) => (
                    <th class="pb-4 text-left font-bold text-text-dark">
                      {header}
                    </th>
                  ))
                }
              </tr>
            </thead>
            <tbody>
              {
                table.rows.map((row, index) => (
                  <tr
                    class={`${index < table.rows.length - 1 ? "border-b border-border" : ""}`}>
                    <td class="py-4 pr-4">{row.traditional}</td>
                    <td class="py-4 font-medium text-tertiary">
                      {row.gestalty}
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="mx-auto text-center lg:col-10 pt-12" data-aos="fade-up-sm">
        {
          supporting_quote && (
            <p
              class="text-lg font-medium text-text-dark italic"
              set:html={markdownify(supporting_quote)}
            />
          )
        }
      </div>
    </div>
  </div>
</section>

